body {
    background-color: black;
}

/* main frame */
#root {
    position: relative;
    display: flex;
    width: 1300px;
    height: 600px;
    transition: 1s;
}

#root.inactive {
    filter: blur(10px);
    pointer-events: none;
    user-select: none;
    transition: 3s;
}

/* general popup frames */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    filter: blur(0.5px);
    background: white;
    color: burlywood;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

/* popup buttons and labels */
.popup_btn {
    display: none;
}

.popup_lbl {
    position: relative;
    width: 0;
    height: 0;
}

.popup_img {
    position: relative;
    display: block;
    width: auto;
    height: 50px;
    margin: 20px 0 20px 0;
    cursor: pointer;
}

.popup_img:hover {
    top: -10px;
}

.popup.active {
    visibility: visible;
    opacity: 1;
    transition: 3s;
}

.popup .exit_btn {
    border-color: white;
    background-color: burlywood;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 0 10px 0;
}

/* background weather container */
@keyframes city_stroll {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -1280px;
    }
}

#weather_effect {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(assets/City.png);
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: repeat-x;
    overflow: hidden;
    animation: city_stroll 10s linear infinite;
    animation-play-state: paused;
}

/* day background */
#weather_effect #day {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(219, 252, 255) 0%, rgb(183, 248, 255) 70%, rgb(123, 235, 255) 100%);
    visibility: hidden;
    opacity: 0;
    transition: 2s;
    z-index: -2;
}

#weather_effect #day.active {
    visibility: visible;
    opacity: 1;
    transition: 2s;
}

/* night background */
#weather_effect #night {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
    radial-gradient(6px 6px at 50px 100px, white, rgba(255,255,255,.2) 2px, transparent 5px),
    radial-gradient(10px 10px at 100px 350px, white, rgba(255,255,255,.3) 1px, transparent 6px),
    radial-gradient(8px 8px at 150px 400px, white, rgba(255,255,255,.1) 1px, transparent 6px),
    radial-gradient(12px 12px at 200px 250px, white, rgba(255,255,255,.2) 2px, transparent 5px),
    radial-gradient(6px 6px at 2500px 300px, white, rgba(255,255,255,.4) 2px, transparent 6px),
    radial-gradient(10px 10px at 300px 150px, white, rgba(255,255,255,.2) 2px, transparent 5px),
    radial-gradient(8px 8px at 350px 200px, white, rgba(255,255,255,.1) 1px, transparent 6px),
    radial-gradient(12px 12px at 400px 50px, white, rgba(255,255,255,.3) 1px, transparent 5px),
    linear-gradient(0deg, rgb(200, 203, 255) 0%, rgb(81, 89, 152) 70%, rgb(43, 49, 95) 100%);
    background-size: 450px 450px;
    z-index: -2;
    visibility: hidden;
    opacity: 0;
    transition: 2s;
}

#weather_effect #night.active {
    visibility: visible;
    opacity: 1;
    transition: 2s;
}

/* sun object */
@keyframes sun-glow {
    0% {
        box-shadow: 0 0 30px gold, inset 0 0 30px gold;
    }
    50% {
        box-shadow: 0 0 40px rgb(241, 198, 88), inset 0 0 40px rgb(241, 198, 88);
    }
    100% {
        box-shadow: 0 0 30px rgb(237, 221, 128), inset 0 0 30px rgb(237, 221, 128);
    }
}

#weather_effect #sun {
    position: absolute;
    top: 5%;
    left: 75%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
    animation: sun-glow 3s linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: 2s;
}

#weather_effect #sun.active {
    visibility: visible;
    opacity: 1;
    transition: 2s;
}

/* moon object */
@keyframes moon-glow {
    0% {
        box-shadow: 0 0 30px rgb(218, 240, 250), inset 0 0 30px rgb(218, 240, 250);
    }
    50% {
        box-shadow: 0 0 40px rgb(184, 209, 231), inset 0 0 40px rgb(184, 209, 231);
    }
    100% {
        box-shadow: 0 0 20px rgb(241, 236, 254), inset 0 0 20px rgb(241, 236, 254);
    }
}

#weather_effect #moon {
    position: absolute;
    top: 10%;
    left: 80%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: aliceblue;
    animation: moon-glow 3s linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: 2s;
}

#weather_effect #moon.active {
    visibility: visible;
    opacity: 1;
    transition: 2s;
}

/* cloud object */
#weather_effect #clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("assets/Clouds.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: 2s;
}

#weather_effect #clouds.active {
    visibility: visible;
    opacity: 1;
    transition: 2s;
}

/* snow object */
@keyframes snowfall {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(550px);
    }
}

#weather_effect #snow, #snow::after, #snow::before {
    content: "";
    position: absolute;
    top: -550px;
    left: 0;
    bottom: 0;
    right: 0;
    background-image:
    radial-gradient(3px 3px at 100px 50px, white, transparent),
    radial-gradient(5px 5px at 200px 150px, white, transparent),
    radial-gradient(7px 7px at 300px 250px, white, transparent),
    radial-gradient(3px 3px at 400px 350px, white, transparent),
    radial-gradient(5px 5px at 500px 100px, white, transparent),
    radial-gradient(7px 7px at 50px 200px, white, transparent),
    radial-gradient(3px 3px at 150px 300px, white, transparent),
    radial-gradient(5px 5px at 250px 400px, white, transparent),
    radial-gradient(7px 7px at 350px 500px, white, transparent);
    background-size: 550px 550px;
    animation: snowfall 4s linear;
    animation-iteration-count: infinite;
    visibility: hidden;
    opacity: 0;
    transition: 2s;
}

#weather_effect #snow::after {
    margin-left: -200px;
    opacity: 0.5;
    filter: blur(1px);
    animation-direction: reverse;
    animation-duration: 8s;
    visibility: visible;
    opacity: 1;
    transition: 2s;
}

#weather_effect #snow::before {
    margin-left: 200px;
    opacity: 0.7;
    filter: blur(1px);
    animation-direction: reverse;
    animation-duration: 12s;
    visibility: visible;
    opacity: 1;
    transition: 2s;
}

#weather_effect #snow.active {
    visibility: visible;
    opacity: 1;
    transition: 2s;
}

/* rain object */
@keyframes rainfall {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(300px);
    }
}

#weather_effect #rain, #rain:after, #rain:before {
    content: "";
    position: absolute;
    top: -300px;
    left: 0;
    bottom: 0;
    right: 0;
    background-image:
    radial-gradient(1px 16px at 100px 50px, rgb(117, 146, 190), transparent),
    radial-gradient(1px 16px at 200px 150px, rgb(117, 146, 190), transparent),
    radial-gradient(1px 16px at 300px 250px, rgb(117, 146, 190), transparent),
    radial-gradient(1px 16px at 400px 350px, rgb(117, 146, 190), transparent),
    radial-gradient(1px 16px at 500px 100px, rgb(117, 146, 190), transparent),
    radial-gradient(1px 16px at 50px 200px, rgb(117, 146, 190), transparent),
    radial-gradient(1px 16px at 150px 300px, rgb(117, 146, 190), transparent),
    radial-gradient(1px 16px at 250px 400px, rgb(117, 146, 190), transparent),
    radial-gradient(1px 16px at 350px 500px, rgb(117, 146, 190), transparent);
    background-size: 300px 300px;
    animation: rainfall 1s linear;
    animation-iteration-count: infinite;
    visibility: hidden;
    opacity: 0;
    transition: 2s;
}

#weather_effect #rain::after {
    margin-left: -250px;
    opacity: 0.5;
    filter: blur(2px);
    animation-duration: 6s;
    visibility: visible;
    opacity: 1;
    transition: 2s;
}

#weather_effect #rain::before {
    margin-left: -350px;
    opacity: 0.7;
    filter: blur(1px);
    animation-duration: 9s;
    visibility: visible;
    opacity: 1;
    transition: 2s;
}

#weather_effect #rain.active {
    visibility: visible;
    opacity: 1;
    transition: 2s;
}

/* fog object */
#weather_effect #fog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("assets/Fog.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    filter: brightness(50%);
    visibility: hidden;
    opacity: 0;
    transition: 2s;
}

#weather_effect #fog.active {
    visibility: visible;
    opacity: 1;
    transition: 2s;
}

/* cat animation code*/
@keyframes cat_sprite {
    from {
        background-position-x: 400px;
        background-position-y: 2400px;
    }
    to {
        background-position-x: 400px;
        background-position-y: 0;
    }
}

/* cat object container */
#cat {
    position: relative;
    top: 0;
    left: 0;
    width: 400px;
    height: 200px;
    transform: translateY(400px);

    /* animation properties */
    background: url("assets/Cat_Animation.png");
    animation-name: cat_sprite;
    animation-duration: 1.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

/* clock object container */
#clock {
    position: relative;
    display: block;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.5);
    background: linear-gradient(200deg, rgb(237, 226, 197) 5%, rgb(110, 81, 6) 100%);
    transform: translateY(30px);
}

#clock #inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(252,245,226,1) 0%, rgba(43,32,5,1) 100%);
    border: 2px solid rgb(177, 163, 145);
}

/* clock datetime elements */
#clock #inner ul {
    position: absolute;
    margin: 0;
    border: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: -30px 0 0 -30px;
    list-style: none;
}

#clock #inner ul li {
    position: absolute;
    margin: 30px;
    color: black;
    font-family:'Times New Roman', Times, serif;
    font-size: 24px;
    transition: 0.2s linear;
}

@keyframes time-glow {
    from {
        text-shadow: 3px 0px 5px white, 0px 3px 5px white, 5px 0px 5px whitesmoke, 0px 5px 5px whitesmoke;
      }
      to {
        text-shadow: 5px 0px 5px whitesmoke, 0px 5px 5px whitesmoke;
      }
}

#clock #inner ul li.active {
    font-weight: bold;
    animation: time-glow 1s ease-in-out infinite alternate;
    transition: 0.2s linear;
}

/* menu object */
.menu {
    position: absolute;
    top: 5%;
    left: 2%;
    display: inline-block;
}

.menu_btn {
    background-color: rgb(65, 9, 9);
    border: 5px solid darkgoldenrod;
    color: rgb(152, 146, 132);
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10%;
    cursor: pointer;
}

.menu_content {
    display: none;
}

.menu:hover .menu_content {
    display: block;
}

/* news popup object */
#news {
    box-shadow: 10px 10px 120px 90px white, 10px 10px 60px 30px rgb(237, 237, 237);
    border-radius: 5%;
}

/* instructions popup object */
#instructions {
    border-color: darkgoldenrod;
    border-style: groove;
}

/* timesetter popup object */
#timesetter {
    box-shadow: 10px 10px 10px black;
    border: 10px double rgb(169, 139, 64);
}

#timesetter #setter #set_btn {
    border-color: white;
    background-color: burlywood;
    color: white;
    font-family: 'Times New Roman', Times, serif; 
}
